<h2>Welcome to Milkmaid!</h2>
<h4>We deliver milk to your door in environmentally friendly, reusable packaging. <br> We pick it up, too, to reduce waste. <br> Place an order or leave a review for a previous one! </h4>

<div>
  <div>
    <h3><%= link_to "Orders", orders_path %> </h3>
    <h3><%= link_to "Reviews", reviews_path %></h3>

    <%= yield %>

</div>
